header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-right: 10px;

    .logo-container {
        display: flex;
        align-items: center;

        img {
            height: 110px;
            width: auto;
            padding-top: 13px;
            float: left;
        }

        h1 {
            padding-top: 2px;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            display: none;
        }

        .actions > app-toggle-button:first-child {
            display: none !important;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;

        app-toggle-button {
            margin-left: 10px;
        }
    }
}
