.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px 10px 15px 10px;
    z-index: 999;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}
