<app-card title="Variazione giornaliera">
    <i class="lnr lnr-chart-bars" title-icon></i>
    <div actions>
        <app-tab [tabs]="tabs" (tabChange)="onTabChange($event)">
        </app-tab>
    </div>
    <div class="chart-container" body>
        <ngx-charts-bar-vertical
            #barChart
            class="bar-chart"
            [scheme]="colorScheme"
            [results]="chartData"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [animations]="animations"
        >
        </ngx-charts-bar-vertical>
    </div>
</app-card>
