.pie-chart-container {
    width: 100%;
    height: calc(100% - 140px);


    .pie-chart {
        fill: var(--theme-primary-text-color);

    }
    
    .pie-chart {
        .legend-label {
            color: var(--theme-primary-text-color) !important;

            &:hover {
                color: var(--theme-primary-text-color) !important;
            }

            ngx-charts-legend-entry {
                span.active > .legend-label-text {
                    color: var(--theme-highlight-color) !important;
                }
            }

        }

        @media screen and (max-width: 640px) {
            .chart-legend {
                display: none!important;
            }
        }
    }
}
