<app-card title="Andamento nazionale">
    <i class="lnr lnr-chart-bars" title-icon></i>
    <div class="chart-container" body>
        <ngx-charts-line-chart
            #lineChart
            class="line-chart"
            [scheme]="colorScheme"
            [legend]="legend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="chartData"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
    </div>
</app-card>
