.chart-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    .line-chart {
        fill: var(--theme-primary-text-color);
    }

    .line-chart {
        .legend-label {
            color: var(--theme-primary-text-color) !important;

            &:hover {
                color: var(--theme-primary-text-color) !important;
            }

            ngx-charts-legend-entry {
                span.active > .legend-label-text {
                    color: var(--theme-highlight-color) !important;
                }
            }
        }

        @media screen and (max-width: 640px) {
            .chart-legend {
                display: none!important;
            }
        }
    }
}
