gridster {
    background: transparent;
    height: 90vh;
}

gridster.scrollVertical::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}


gridster.scrollVertical::-webkit-scrollbar {
	width: 12px;
}

gridster.scrollVertical::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--theme-primary-color);
}

gridster-item {
    background: transparent;
    border: 1px solid var(--theme-widget-border);
    border-radius: 10px;
}