gridster {
    margin-top: 5px;
    background: transparent;
    height: calc(100vh - 151px);
}

gridster.scrollVertical::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid var(--theme-widget-border);
    background-color: var(--theme-chart-palette-1);
}


gridster.scrollVertical::-webkit-scrollbar {
    width: 12px;
}

gridster.scrollVertical::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--theme-primary-color);
    border: 1px solid var(--theme-widget-border);
}

gridster-item {
    background: transparent;
    border: 1px solid var(--theme-widget-border);
    border-radius: 10px;
}