/* You can add global styles to this file, and also import other style files */

@import "~linearicons/dist/web-font/style.css";
@font-face {
  font-family: "OpenSans-Light";
  src: url("assets/fonts/OpenSans-Light.ttf");
  }

body {
  margin: 0 100px;
  background-color: var(--theme-background);
  font-family: 'OpenSans-Light';
  height: 88vh;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 900px) {
  body {
    margin: 0 3px;
  }
}

