.tab {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 13px;
    padding-left: 9px;
    cursor: pointer;
    color:  var(--theme-primary-text-color-contrast);
    font-size: 16px;
    background-color: var(--theme-widget-border);
    &:hover {
        background-color: var(--theme-chart-palette-1);
    }
}


.active {
    background-color: var(--theme-chart-palette-1);
}

.rounded-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.rounded-right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

select {
    margin-top: -5px;
}